<p>Weather for {{requestCity}}</p>
<div>Headline:
  {{headlinetext}}
</div>
<div> Today's Forecast:
  <ul>
    <li>High: {{high}} {{highunit}}</li>
    <li>Low: {{low}} {{lowunit}}</li>
    <li><a href={{link}}>Source</a></li>
  </ul>
</div>
